.yellow-text {
  color: #EAC435
}

.red-text {
  color: #CA054D
}

.black-text {
  color: #242325
}

.orange-text {
  color: #F3752B
}

.purple-text {
  color: #5F5AA2
}

.yellow-bkg {
  background-color: #EAC435;
}

.red-bkg {
  background-color: #CA054D;
}

.black-bkg {
  background-color: #242325;
}

.orange-bkg {
  background-color: #F3752B;
}

.purple-bkg {
  background-color: #5F5AA2;
}
.btn-main {
  color: #fff;
  background-color: #EAC435;
  border-color: #EAC435;
}
.btn-main:hover {
  color: #fff;
  background-color: #cead39;
  border-color: #cead39;
}
.heading-line:before {
  content: "";
  height: 12px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  background-color: #F3752B;
}

.uppercase {
  text-transform: uppercase;
}

.pr-top-4rm {
  padding-top: 4rem;
}
